html{
    box-sizing: border-box;
}
*, ::after, ::before{
    box-sizing: inherit;
}

.page-wrapper{
    width: min(1410px, 100%);
    margin-inline: auto;
}

.menu-wrapper{
    width: min(1410px, 100%);
    margin-inline: auto;
    padding: 15px 25px;

    @media (width < 568px) {
        padding-inline: 10px;
    }
}

.el-megamenu{
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: "Roboto", sans-serif;

    @media (width < 1024px) {
        grid-template-columns: 1fr;
    }
}

.el-megammenu__column{
    flex: 1 1 50%;
    display: grid;
}

.el-megammenu__2column{
    grid-template-columns: repeat(2, 1fr);

    @media (width < 568px){
        grid-template-columns: 1fr;
    }
}

.el-megamenu__2rows{
    grid-template-rows: auto;
}

.el-megamenu__grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "l1 r1"
        "l2 r2";

    @media (width < 1024px) {
            grid-template-areas: 
                "l1 l2"
                "r1 r2";
    }

    @media (width < 568px){
        grid-template-columns: 1fr;
        grid-template-areas: 
            "l1"
            "l2"
            "r1"
            "r2";
    }
}

.el-megamenu__grid--l1{
    grid-area: l1;
}

.el-megamenu__grid--l2{
    grid-area: l2;
}

.el-megamenu__grid--r1{
    grid-area: r1;
}

.el-megamenu__grid--r2{
    grid-area: r2;
}

.el-megamenu__item{
    padding: 15px;
    height: 100%;
}

.el-megamenu__itemTitle{
    font-size: 20px;
    line-height: 1.4;
    margin: 0 0 12px;
    border-block-end: 1px solid #1F29F4A6
}

.el-megamenu__lists{
    margin: 0;
    padding: 0;
    list-style: none;
}

.el-megamenu__lists li{
    margin-bottom: 10px;
}

.el-megamenu__lists li:last-child{
    margin-bottom: 0;
}

.el-megamenu__lists a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    transition: color 350ms ease-in-out;
}

.el-megamenu__lists a:hover{
    color: #1F29F4;
}
